.home-page {
    text-align: center;
    margin: 100px auto;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    color: #666;
  }
  
  .play-button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  