/* Login.css */

.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff5722;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  color: #333;
}

.form-group input {
  width: 100%;
  max-width: 350px; /* Adjust the max-width as needed */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #ff5722;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #ff6a3c;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  color: #ff5722;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password a:hover {
  color: #ff6a3c;
}


.form-group:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
